<footer>
  <app-button class="arrow-up"
              (click)="scrollToAnchor()"
              icon="fas fa-angle-double-up"
              size="square"
  ></app-button>
  <div class="icons">
    <div *ngFor="let contact of contacts" class="icon">
      <a [href]="contact.url" target="_blank">
        <i class="{{ contact.icon }}"></i>
      </a>
    </div>
    <div class="icon">
      <a href="assets/Curriculum Vitae - Marko Nastić.pdf" download class="icon">
        <i class="fas fa-download"></i>
      </a>
    </div>
  </div>
  <div class="author">Marko Nastić <span class="highlight">©2020</span></div>
</footer>
