@import "../../assets/styles/variables";

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  position: relative;
  background: #1b242f;
  text-align: center;
  color: $white;
  padding: 3rem 3rem 2rem;

  .arrow-up {
    position: absolute;
    top: -1.5rem;

    &::ng-deep .button {
      background-color: $pink;
    }
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    .icon {
      width: 3rem;
      line-height: 3rem;
      background: $grey;
      margin-right: 1.2rem;
      border-radius: 0.2rem;
      overflow: hidden;

      &:last-child {
        margin: 0;
      }

      &:hover,
       :active {
        background: #04c2c9;
        box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
        transform: scale(1.1);

        i {
          animation: topToBottom 0.3s;
        }
      }

      a {
        display: block;

        i {
          color: $white;
        }
      }
    }
  }

  .author {
    color: $light-grey;

    .highlight {
      color: $pink;
    }
  }
}

@keyframes topToBottom {
  49% {
    transform: translateY(100%);
  }

  50% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
  }
}
