<div class="about">
  <h1 class="h1">About me</h1>
  <div class="content">
    <div class="content-about">
      <div class="img">
        <img src="assets/pictures/my-photo.jpg" alt="my-photo">
      </div>
      <span class="text">
        Hello, my name is Marko.<br>
        I'm working on becoming a Frontend developer and I'm currently looking for a job.<br>
        I'm always ready to improve my knowledge and gain experience through new challenges and I think that being
        employed in this area would help me make daily progress. <br>
        For more information, do not hesitate to <a href="#contact" class="contact">contact</a> me.
      </span>
    </div>
    <div class="content-skills">
      <h1 class="h1 skills">
        Skills
        <i class="fas fa-info-circle">
          <div class="tooltip">Self rated</div>
        </i>
      </h1>
      <div class="skill" *ngFor="let skill of skills">
        <div class="name">{{ skill.name }}</div>
        <div class="bar" [ngStyle]="{width: skill.percent}">
          <div class="per">{{ skill.percent }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
