<div class="carousel-container">
  <app-button class="btn btn-left"
              (click)="slideImage(-1)"
              hasBorder="false"
              fontAwesome="fas fa-angle-left"
  ></app-button>
  <div class="carousel">
    <div class="slider" (transitionend)="sliderTransitionEnd()" [ngStyle]="{width: carouselWidth + '%'}">
      <div class="slide" *ngFor="let image of images">
        <img [src]="image" class="img">
      </div>
    </div>
  </div>
  <app-button class="btn btn-right"
              (click)="slideImage(1)"
              fontAwesome="fas fa-angle-right"
              hasBorder="false"
  ></app-button>
</div>
