@import "../../assets/styles/variables";

.nav-container {
  position: fixed;
  top: 0;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background: $main-blue;
  border-bottom: 0.2rem solid $light-blue;
  z-index: 5;

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $white;
    width: 100%;
    max-width: 1000px;

    .nav {
      margin-right: 20px;
      font-size: 1.3rem;
      cursor: pointer;
      text-transform: capitalize;
      user-select: none;

      &.active {
        color: $pink;
      }

      &:hover {
        color: $dark-pink;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .menu-btn {
    width: 2rem;
    height: 1.4rem;
    position: absolute;
    right: 0.6rem;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    align-self: center;
    cursor: pointer;

    .line {
      height: 3px;
      background: $white;
      pointer-events: none;
    }
  }
}

@media screen and (max-height: 900px) and (max-width: 500px) {
  .nav-container {
    .navbar {
      display: block;
      position: absolute;
      top: 3rem;
      background: $grey;
      overflow: hidden;
      height: 0;
      transition: height ease-in 0.3s;

      &.showMenu {
        height: 14rem;
      }

      .nav {
        margin-right: 0;
        padding: 1rem 0;
        text-align: center;
      }
    }

    .menu-btn {
      display: flex;

      &.close-btn {
        transform: rotate(45deg);

        .line {
          &:nth-child(1) {
            transform: translateY(0.6rem);
          }

          &:nth-child(2) {
            display: none;
          }

          &:nth-child(3) {
            transform-origin: bottom center;
            transform: rotate(-90deg) translate(0.7rem, 0.1rem);
          }
        }
      }
    }
  }
}

@keyframes rotateMenuBtn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1.125turn);
  }
}

@keyframes rotateMenuBtnReverse {
  from {
    transform: rotate(1.125turn);
  }
  to {
    transform: rotate(0deg);
  }
}
