@import "../../assets/styles/variables";

.nav-container {
  position: fixed;
  top: 0;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main-blue;
  border-bottom: 0.2rem solid $light-blue;
  z-index: 5;

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $white;
    width: 100%;
    max-width: 60rem;

    .nav {
      margin-right: 1.2rem;
      font-size: 1.3rem;
      text-transform: capitalize;
      user-select: none;
      letter-spacing: 0.07rem;
      color: inherit;
      text-decoration: none;
      display: block;

      &.active {
        color: $pink;
      }

      &:not(.active):hover {
        color: $dark-pink;
      }
    }
  }

  #menu-btn {
    display: none;

    &:checked {
      & ~ div.navbar {
        height: 14rem;
      }

      & + label {
        transform: rotate(-405deg);

        .line {
          &:nth-child(1) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform-origin: bottom center;
            transform: rotate(-90deg) translate(0.7rem, 0.1rem);
          }
        }
      }
    }
  }

  label {
    width: 2rem;
    height: 1.4rem;
    position: absolute;
    right: 0.6rem;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s;
    -webkit-tap-highlight-color: transparent;

    .line {
      height: 3px;
      background: $white;
      pointer-events: none;
    }
  }
}

@media screen and (max-height: 900px) and (max-width: 500px) {
  .nav-container {
    border-bottom: none;

    .navbar {
      display: block;
      position: absolute;
      top: 3rem;
      background: $main-blue;
      overflow: hidden;
      height: 0;
      transition: height ease-in 0.3s;
      border-bottom: 0.2rem solid $light-blue;

      .nav {
        margin-right: 0;
        padding: 1rem 0;
        text-align: center;

        &:not(.active):hover {
          color: unset;
        }

        &:not(.active):active {
          color: $dark-pink;
        }
      }
    }

    label {
      display: flex;
    }

    #menu-btn {

      &:not(:checked) {
        & ~ div.navbar {
          .nav {
            pointer-events: none;
          }
        }
      }

    }
  }
}
