<nav class="nav-container">
  <div class="navbar" [ngClass]="{showMenu: showMenu}">
    <div class="nav" *ngFor="let nav of navs; let i = index"
         (click)="scrollToElement(nav)"
         [ngClass]="{active: activeRoute === i}"
         >
         {{ nav }}
    </div>
  </div>
  <div class="menu-btn" #menuBtn (click)="openMenu(menuBtn)"
                        (window:scroll)="onWindowEvent(menuBtn)"
                        (window:resize)="onWindowEvent(menuBtn)"
                        [ngClass]="{'close-btn': showMenu}"
                        >
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>
