.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #252934;
  border-bottom: 0.2rem solid #05c2c9;
  z-index: 5;

  .navbar {
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    width: 100%;
    max-width: 1000px;

    .nav {
      margin-right: 20px;
      font-size: 1.3rem;
      cursor: pointer;
      text-transform: capitalize;
      &:hover {
        color: #fb006785;
      }
      &:focus {
        outline: none;
        color: #e31b6d;
      }
      &.active {
        outline: none;
        color: #e31b6d;
      }
    }
  }
}
