.button {
  background-color: transparent;
  color: white;
  height: 3rem;
  width: 9rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color ease-in-out 0.3s,
              border-color ease-in-out 0.3s,
              color ease-in-out 0.3s;

  &.white-aqua {
    border-color: white;
    &:hover {
      background-color: #04c2c9;
      border-color: #04c2c9;
    }
  }

  &.pink {
    background-color: #e31b6d;
    border-color: #e31b6d;
  }

  &:hover {
    &.grow {
      font-size: 2.5rem;
    }
  }

  &.pink-white {
    color: #e31b6d;
    border-color: #e31b6d;
    &:hover {
      color: white;
      background-color: #e31b6d;
    }
  }

  &.aqua-white {
    color: #04c2c9;
    border-color: #04c2c9;
    &:hover {
      color: white;
      background-color: #04c2c9;
    }
  }

  &.grey {
    color: grey;
  }

  &.grey-bg {
    background-color: #00000087;
  }

  &.border {
    border-width: 2px;
    border-style: solid;
  }

  &.big {
    width: 12rem;
    height: 4rem;
  }

  &.square {
    width: 3rem;
  }

  &.font {
    &-small {
      font-size: 1rem;
    }

    &-big {
      font-size: 2rem;
    }
  }

  .font-awesome {
    font-size: 0.9em;
  }
}
