<div class="button"
     [ngClass]="{
        'white-aqua': btnType === 'whiteAqua',
        'pink': btnType === 'pink',
        'pink-white': btnType === 'pinkWhite',
        'aqua-white': btnType === 'aquaWhite',
        grey: btnType === 'grey',
        'grey-bg': btnType === 'greyBg',
        'border': !hasBorder,
        big: isBig,
        square: isSquare,
        'font-small': fontSize === 'small',
        'font-big': fontSize === 'big',
        'grow': onHover === 'grow'
      }"
> {{ text }}
  <span *ngIf="text && fontAwesome">&nbsp;</span>
  <span class="font-awesome">
    <i [class]="fontAwesome" *ngIf="fontAwesome"></i>
  </span>
</div>
