.button {
  background-color: transparent;
  color: white;
  height: 3rem;
  width: 9rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color ease-in-out 0.3s,
              border-color ease-in-out 0.3s,
              color ease-in-out 0.3s;

  &.border {
    border: 2px solid white;
    border-radius: 0.2rem;
  }

  .font-awesome {
    font-size: 0.9em;
  }
}
