.projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #444649;
  padding: 50px;

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .project {
      height: 250px;
      width: 400px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &:hover {
        .card {
          opacity: 0;
        }

        .title {
          top: 20%;
          opacity: 1;
        }

        .btn {
          opacity: 1;
          bottom: 20%;
        }
      }

      .card {
        transition: opacity ease-in-out 0.3s;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .title {
        position: absolute;
        opacity: 0;
        top: 0;
        transition: top ease-in-out 0.3s,
          opacity ease-in-out 0.3s;
      }

      .btn {
        position: absolute;
        bottom: 0;
        border: 2px solid #e31b6d;
        height: 4rem;
        width: 12rem;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0;
        transition: background-color ease-in-out 0.3s,
          border-color ease-in-out 0.3s,
          bottom ease-in-out 0.3s,
          opacity ease-in-out 0.3s;

        &:hover {
          background-color: #e31b6d;
          color: white;
        }
      }
    }
  }

  .project-view {
    width: 100%;
    height: 100vw;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: transform ease-in-out 0.3s;
    transform: scale(0);
    transform-origin: top left;
    &.showProject {
      transform: scale(1);
    }

    .mask {
      background: #80808094;
      height: 100%;
      width: 100%;
      position: absolute;
    }

    .main-container {
      width: 80vw;
      max-width: 800px;
      margin: 0 auto;

      .carousel-container {
        position: relative;
        height: 55vh;

        .btn {
          position: absolute;
          bottom: 0;
          z-index: 1;
          line-height: 50px;
          width: 60px;
          text-align: center;
          font-size: 30px;
          color: white;
          background: #00000061;
          cursor: pointer;

          &.btn-left {
            left: 0;
          }

          &.btn-right {
            right: 0;
          }
        }

        .carousel {
          background: lightgreen;
          height: 100%;
          display: flex;
          width: 100%;
          justify-content: flex-start;
          overflow: hidden;

          .slider {
            display: flex;
            flex-shrink: 0;
            transition: all ease-in-out 0.5s;

            .slide {
              flex: 1;

              .img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }

      .details-container {
        position: relative;
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: white;
        padding: 30px 50px 30px 30px;
        border-top: 3px solid black;
        font-weight: bold;
        .header {
          .title {
            font-size: 35px;
          }
          .made {
            opacity: 0.6;
          }
        }
        .description {
          border-top: 1px solid #80808078;
          padding: 20px 0;
        }
        .buttons {
          display: flex;
          position: relative;
          .btn {
            border: 2px solid #04c2c9;
            background: transparent;
            color: #04c2c9;
            height: 3rem;
            width: 9rem;
            // font-size: 1rem;
            cursor: pointer;
            margin-right: 20px;
            transition: background-color ease-in-out 0.3s,
                        border-color ease-in-out 0.3s;
            &:hover {
              background-color: #04c2c9;
              color: white;
            }
            a {
              text-decoration: none;
              color: inherit;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              i {
                margin-right: 5px;
              }
            }
          }
          .close {
            font-size: 2rem;
            text-align: center;
            line-height: 3rem;
            width: 3rem;
            right: 0;
            position: absolute;
            cursor: pointer;
            opacity: 0.6;
          }
        }
      }
    }
  }
}
