<div class="projects">
  <h1>Projects</h1>
  <div class="gallery">
    <div class="project" *ngFor="let project of projects; let projectIndex = index">
      <div class="card">
        <img src="{{project.images[0]}}" alt="">
      </div>
      <h3 class="title">{{project.name}}</h3>
      <app-button class="btn"
                  (click)="currentProject = projects[projectIndex]"
                  btnType="pinkWhite"
                  text="Learn more"
      ></app-button>
    </div>
  </div>
  <app-project-view
      [currentProject]="currentProject"
      (projectEvent)="onProjectEvent($event)"
      *ngIf="currentProject !== null"
  ></app-project-view>
</div>
