<div class="project-view" (transitionend)="projectViewTransitionEnd()">
  <div class="mask" (click)="closeProject()"></div>
  <div class="main-container">
    <div class="carousel-container">
      <div class="btn btn-left" (click)="slideImage(-1)">
        <i class="fas fa-angle-left"></i>
      </div>
      <div class="carousel">
        <div class="slider" (transitionend)="sliderTransitionEnd()" [ngStyle]="{width: carouselWidth + '%'}">
          <div class="slide" *ngFor="let image of currentProject.images">
            <img src="{{image}}" alt="" class="img">
          </div>
        </div>
      </div>
      <div class="btn btn-right" (click)="slideImage(1)">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
    <div class="details-container">
      <div class="header">
        <span class="title">{{ currentProject.name}}</span><br>
        <span class="made">{{ currentProject.madeWith }}</span>
      </div>
      <p class="description">{{ currentProject.description }}</p>
      <div class="buttons">
        <app-button class="btn"
                    *ngFor="let page of currentProject.pages"
                    [text]="page.name"
                    fontAwesome="fas fa-external-link-alt"
                    (click)="openInNewTab(page.url)"
                    [styles]="btnStyles"
        ></app-button>
        <div class="close" (click)="closeProject()">
          <i class="fas fa-times"></i>
        </div>
      </div>
    </div>
  </div>
</div>
