@import "../../../assets/styles/variables";

:host {
  overflow: hidden !important;
}

.project-view {
  left: 0;
  right: 0;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: transform ease-in-out 0.3s;
  transform: scale(0);
  transform-origin: top left;

  .mask {
    background: #80808094;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .main-container {
    display: grid;
    height: 100%;
    max-width: 50rem;
    grid-template-rows: min-content 1fr;
    margin: 0 auto;

    .gallery, .details {
      position: relative;
    }
  }
}
