.project-view {
  left: 0;
  right: 0;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: transform ease-in-out 0.3s;
  transform: scale(0);
  transform-origin: top left;

  .mask {
    background: #80808094;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .main-container {
    display: grid;
    height: 100%;
    max-width: 50rem;
    grid-template-rows: min-content 1fr;
    margin: 0 auto;

    .carousel-container {
      position: relative;

      &::ng-deep .btn {
        position: absolute;
        bottom: 0;
        z-index: 1;
        &.btn-left {
          left: 0;
        }

        &.btn-right {
          right: 0;
        }
        .button {
          background-color: #00000087;
          width: 3rem;
          font-size: 2rem;
        }
      }

      .carousel {
        background: #08878c;
        height: 100%;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        overflow: hidden;

        .slider {
          display: flex;
          flex-shrink: 0;
          transition: all ease-in-out 0.5s;

          .slide {
            flex: 1;
            display: flex;
            align-items: center;

            .img {
              width: 100%;
              max-height: 100%;
            }
          }
        }
      }
    }

    .details-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: white;
      padding: 1rem 2rem;
      border-top: 0.2rem solid black;
      font-weight: bold;
      .header {
        .title {
          font-size: 2rem;
        }
        .made {
          opacity: 0.6;
        }
      }
      .description {
        border-top: 1px solid #80808078;
        padding: 1.5rem 0;
      }
      .buttons {
        position: relative;
        display: flex;
        justify-content: center;

        .btn::ng-deep {
          margin-right: 1rem;
          .button {
            color: #04c2c9;
            border-color: #04c2c9;
            font-size: 1rem;
            &:hover {
              color: white;
              background-color: #04c2c9;
            }
          }
        }

        .close::ng-deep {
          position: absolute;
          right: 0;
          .button {
            color: grey;
            width: 3rem;
            font-size: 2rem;
            &:hover {
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-height: 900px) and (max-width: 500px) {
  .project-view .main-container .details-container {
    padding: 1rem;
    .buttons {
      justify-content: flex-start;
      .btn {
        margin-right: 0.5rem;
      }
      .close {
        right: -0.7rem;
      }
    }
  }
}
