.contact {
  min-height: 100vh;
  padding: 75px 0 50px 0;
  background: #252934;
  color: white;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  h3 {
    color: #05c2c9;
  }

  .contact-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text {
      position: relative;
      width: 100%;
      margin-bottom: 5px;

      .letterCount {
        position: absolute;
        top: 1px;
        right: 2px;
        color: #707071;
        font-size: 0.7rem;
      }
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      z-index: 1;
      border: none;
      border-radius: 3px;
      background: #1e242c;
      color: white;
      font: inherit;
      margin-bottom: 5px;

      &:last-child {
        margin: 0;
      }

      &::placeholder {
        color: #707071;
      }

      &:focus {
        outline: 0;
        border: 2px solid #04c2c9;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: white;
        box-shadow: 0 0 0 30px #1e242c inset !important;
      }

      &.input-danger {
        border-color: #b22222;
      }
    }

    input {
      height: 40px;
    }

    textarea {
      resize: vertical;
      padding-right: 15px;
      margin-bottom: 0;
    }

    .alert {
      line-height: 30px;
      width: 100%;
      margin-bottom: 5px;
      border-radius: 3px;

      &.alert-danger {
        background: #b22222;
      }

      &.alert-success {
        background: #4caf50;
      }
    }

    .btn {
      width: 33%;
      border: 2px solid white;
      display: flex;
      justify-content: center;
      align-self: flex-end;
      align-items: center;
      cursor: pointer;
      align-self: flex-end;
      transition: background-color ease-in-out 0.3s,
        border-color ease-in-out 0.3s;

      &:hover {
        background-color: #04c2c9;
        border-color: #04c2c9;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 33vh;
  position: relative;
  background: #1b242f;
  text-align: center;
  color: white;
  padding: 50px;

  .arrow-up {
    position: absolute;
    top: -25px;
    background: #e31b6d;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    .icon {
      width: 50px;
      line-height: 50px;
      background: #262f38;
      margin-right: 20px;
      overflow: hidden;

      &:last-child {
        margin: 0;
      }

      &:hover,
      :active {
        background: #04c2c9;
        box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
        transform: scale(1.1);

        i {
          animation: topToBottom 0.3s;
        }
      }

      a {
        display: block;

        i {
          color: white;
        }
      }
    }
  }

  .author {
    color: #8f9aa7;

    .highlight {
      color: #e31b6d;
    }
  }
}

@keyframes topToBottom {
  49% {
    transform: translateY(100%);
  }

  50% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
  }
}
