.contact {
  min-height: 100vh;
  padding: 5rem 0 3rem 0;
  background: #252934;
  color: white;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  h3 {
    color: #05c2c9;
    font-size: 1rem;
  }

  .contact-form {
    width: 90%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text {
      position: relative;
      width: 100%;
      margin-bottom: 0.3rem;

      .letterCount {
        position: absolute;
        top: 1px;
        right: 2px;
        color: #707071;
        font-size: 0.7rem;
      }
    }

    input,
    textarea {
      width: 100%;
      padding: 0.6rem;
      z-index: 1;
      border: none;
      border-radius: 0.2rem;
      background: #1e242c;
      color: white;
      font: inherit;
      margin-bottom: 0.3rem;

      &:last-child {
        margin: 0;
      }

      &::placeholder {
        color: #707071;
      }

      &:focus {
        outline: 0;
        border: 2px solid #04c2c9;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: white;
        box-shadow: 0 0 0 30px #1e242c inset !important;
      }

      &.input-danger {
        border-color: #b22222;
      }
    }

    input {
      height: 2.5rem;
    }

    textarea {
      resize: vertical;
      padding-right: 1rem;
      margin-bottom: 0;
    }

    .alert {
      line-height: 2rem;
      width: 100%;
      margin-bottom: 0.3rem;
      border-radius: 0.1rem;

      &.alert-danger {
        background: #b22222;
      }

      &.alert-success {
        background: #4caf50;
      }
    }

    .btn::ng-deep {
      align-self: flex-end;
      .button {
        &:hover {
          background-color: #04c2c9;
          border-color: #04c2c9;
        }
      }
    }
  }
}


