@import "../../assets/styles/variables";

.contact {
  min-height: 100vh;
  padding: 5rem 0 3rem 0;
  background: $main-blue;
  color: $white;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  h3 {
    color: $light-blue;
    font-size: 1rem;
  }

  .contact-form {
    width: 90%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text {
      position: relative;
      width: 100%;
      margin-bottom: 0.3rem;

      .letterCount {
        position: absolute;
        top: 1px;
        right: 2px;
        color: $light-grey;
        font-size: 0.7rem;
      }
    }

    input,
    textarea {
      width: 100%;
      padding: 0.6rem;
      z-index: 1;
      border: none;
      border-radius: 0.2rem;
      background: $dark-grey;
      color: $white;
      font: inherit;
      margin-bottom: 0.3rem;

      &:last-child {
        margin: 0;
      }

      &::placeholder {
        color: $light-grey;
      }

      &:focus {
        outline: 0;
        border: 2px solid $light-blue;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: $white;
        box-shadow: 0 0 0 30px $dark-grey inset !important;
      }

      &.input-danger {
        border-color: $red;
      }
    }

    input {
      height: 2.5rem;
    }

    textarea {
      resize: vertical;
      padding-right: 1rem;
      margin-bottom: 0;
    }

    .alert {
      line-height: 2rem;
      width: 100%;
      margin-bottom: 0.3rem;
      border-radius: 0.1rem;

      &.alert-danger {
        background: $red;
      }

      &.alert-success {
        background: $green;
      }
    }

    .btn {
      align-self: flex-end;
    }
  }
}
