/* You can add global styles to this file, and also import other style files */
@import "assets/styles/variables";

*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font-family: 'Raleway', sans-serif;
}

html, body {
  margin: 0;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; // IOS Safari
  min-height: 100%;
}

.h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      width: 80%;
      height: 0.2rem;
      background-color: $main-blue;
      bottom: -0.2rem;
    }
}


@media screen and (min-height: 900px) and (min-width: 1000px) {
  html {
      font-size: 25px;
  }
}

@media screen and (max-height: 900px) and (max-width: 600px) {
  html {
      font-size: 14px;
  }
}
