// colors
$main-blue: #252934;
$blue: #00a1a7;
$light-blue: #04c2c9;
$dark-grey: #1e242c;
$grey: #262f38;
$light-grey: #707071;
$transparent-grey: #d6d6d6;
$transparent-black: #00000087;
$white: #ffffff;
$black: #000000;
$pink: #e31b6d;
$dark-pink: #ab1753;
$red: #b22222;
$green: #7dc07f;
