<div class="details-container">
  <div class="header">
    <span class="title">{{ currentProject.name}}</span><br>
    <span class="made">{{ currentProject.madeWith }}</span>
  </div>
  <p class="description">{{ currentProject.description }}</p>
  <div class="buttons">
    <app-button *ngFor="let page of currentProject.pages"
                (click)="openInNewTab(page.url)"
                [label]="page.name"
                class="btn"
                color="blue"
                icon="fas fa-external-link-alt"
                size="medium"
    ></app-button>
    <app-button (click)="closeProjectEvent.emit(true)"
                class="close"
                size="square"
                icon="fas fa-times"
    ></app-button>
  </div>
</div>
