@import "../../../../assets/styles/variables";

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $white;
  padding: 1rem 2rem;
  border-top: 0.2rem solid $black;
  font-weight: bold;
  height: 100%;

  .header {
    .title {
      font-size: 2rem;
    }
    .made {
      opacity: 0.6;
    }
  }

  .description {
    border-top: 1px solid $transparent-grey;
    padding: 1.5rem 0;
  }

  .buttons {
    position: relative;
    display: flex;
    justify-content: center;

    .btn {
      margin-right: 1rem;
    }

    .close {
      position: absolute;
      right: 0;

      &::ng-deep .button {
        color: $light-grey;
      }
    }
  }
}

@media screen and (max-height: 900px) and (max-width: 500px) {
  .details-container {
    padding: 1rem;
    .buttons {
      justify-content: flex-start;
      .btn {
        margin-right: 0.5rem;
      }
      .close {
        right: -0.7rem;
      }
    }
  }
}
